<section>
  <h1>About Me</h1>
  <a href="/resume/"><img id="photo" src="/images/me/photo.jpg"/></a>

    <ul>
        <li><a href="/resume/">应用架构负责人</a> @
            <a href="http://www.keruyun.com" target="_blank">客如云</a>
        </li>
      <li><a href="/resume/">应用架构专家</a> @
          <a href="http://baike.baidu.com/view/14415363.htm" target="_blank">平安科技</a>
      </li>
      <li><a href="/resume/">Solution Architect</a> @
          <a href="http://baike.baidu.com/view/4420120.htm" target="_blank">花旗软件</a>
      </li>
      <li><a href="mailto:nielinjie@gmail.com">nielinjie@gmail.com</a></li>
      <li>
        <div class="qcode">
        <img src="/images/me/nietongxue.png" style="width:60px">
        <div class="label">个人网站</div>
        </div>
        <div class="qcode">
        <img src="/images/me/weixin.jpg" style="width:60px">
        <div class="label">微信</div>
        </div>
        <div class="qcode">
        <img src="/images/me/weibo.png" style="width:60px">
        <div class="label">微博</div>
        </div>
        <div class="qcode">
        <img src="/images/me/linkedin.PNG" style="width:60px">
        <div class="label">LinkedIn</div>
        </div>


      </li>
    </ul>
</section>
