{% if post.series %}
  {% assign series = post.series %}
{% elsif page.series %}
  {% assign series = page.series %}
{% else %}
  {% assign series = site.series %}
{% endif %}
{% if series %}
<div class="post-series" data-series="{% for ser in series%}{{ser}},{% endfor %}"></div>{% endif %}
<script type="text/javascript" charset="utf-8">
  (function(){
    function series(){
      var posts=window.site.posts
      return _(posts).chain().map(function(p){
        return _(p.series).map(function(s){
          var parts=s.split(" ")
          return {name:parts[0],index:parts[1],post:p}
        })
      }).flatten().value()
    }
    var ss=series()
    var sers=$("div.post-series").attr("data-series").split(",")
    sers=_(sers).chain().filter(function(s){return s!=""}).map(function(s){
      var name=s.split(" ")[0]
      var index=s.split(" ")[1]
      return ss.filter(function(ser){
        return ser.name==name
      })
    }).value()
    _(sers).each(function(s){
      var p=$("<p/>").append($("<h2/>").text("Series - "+s[0].name)).append("<ul/>").appendTo($("div.post-series"))
      _(s).each(function(sOfP){
        p.find("ul").append($("<li/>").append($("<a/>").attr("href",sOfP.post.url).text(sOfP.post.title)))
      })
    })
  })()
</script>
